 
.ContactList {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 300px;  
    padding: 20px;
    background-color: #f9f9f9;  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    margin: 20px auto;  
  }
  
   
  .ContactElements {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
   
  .ContactListItem {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);  
  }
  
  .ContactListItem h3 {
    margin: 0;  
    font-size: 1.2em;
  }
  
   
  .ContactListItem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
   
  .ContactList h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  